<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <head></head>
    <body>

        <div id="app" class="container">
            <h2>{{ title }}</h2>
            <div class="input-group">
                <input v-model="newItem" v-on:keyup.enter="addItem"
                placeholder="add Shopping list item" type="text" class="form-control">
            </div>

            <span class="input-group-btn">
                <button v-on:click="addItem" class="btn btn-default" type="button">
                    Add!
                </button>
            </span>

            <ul>
                <li v-for="item in items" :class="{ 'removed' : item.checked }">
                <!-- <li>{{ items[0] }}</li>
                <li>{{ items[1] }}</li> -->
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="item.checked"> {{item.text}}
                    </label>
                </div>
                </li>
            </ul>
            <div id="footer">
                <hr/>
                <em>Change the title of your shopping list here</em>
                <input v-model="title" />
            </div>
        </div>        

        <div id="pronouns">
            <p><strong>Check Yourserlf :)</strong></p>
            <textarea class="textarea" v-model="text" v-on:keyup="checkText">
                {{text}}
            </textarea>
        </div>
    </body>
</html>

<script>
    var data = {
        items : [ { text : 'Bannas' , checked : true }
                , { text : 'Apples' , checked : false }
                , { text : 'FineApples', checked : true } ] ,
        title : 'My Shopping List',
        newItem : ''
    };
    new Vue({
        el : '#app',
        data : data,
        methods : {
            addItem : function() {
                var text; 
                text = this.newItem.trim();
                if(text) {
                    this.items.push({
                        text : text, 
                        checked : false 
                    });
                    this.newItem = '';
                }
            }
        }
    });
</script>